
<div class="login">
  <div class="heading">
    <h2>Sign Up</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
       <%= f.error_notification %>
      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <%= f.input :email, label: false, required: true, autofocus: true, placeholder: "Username or email", class: "string email optional form-control" %>
      </div>

      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <%= f.input :password, label: false, required: true, placeholder:"Password", class: "password optional form-control" %>
      </div>

      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <%= f.input :password_confirmation, label: false, required: true, placeholder: "Password Confirmation", class: "password optional form-control" %>
      </div>
      <button type="submit" class="float" name="commit" value="Sign up">Sign up</button>
    <% end %>
  </div>
</div>
