<nav class="navbar-arthropocene">
  <div class="container navbar-arthropocene-container">

   <%= link_to "/" do %>
      <%= image_tag "logo.png", class: "navbar-arthropocene-color-logo" %>
    <% end %>

    <div class="navbar-arthropocene-pusher"></div>

<!--     <form action="" class="navbar-arthropocene-search hidden-xs hidden-sm">
      <input type="text" class="navbar-arthropocene-search-input" placeholder="Search something">
      <button type="submit" class="navbar-arthropocene-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
    <hr class="hidden-xs hidden-sm"> -->

    <% if user_signed_in? %>
      <div class= "links">
        <%= link_to t(".top_call_to_action", default: "Public Posts"), public_posts_path, class: "navbar-arthropocene-item navbar-arthropocene-link" %>
        <%= link_to t(".top_call_to_action", default: "New Post"), new_user_post_path(current_user.id), class: "navbar-arthropocene-item navbar-arthropocene-link" %>
      </div>
<!--       <%= link_to "#", class: "navbar-arthropocene-item navbar-arthropocene-link hidden-xs" do %>
        <div class="icon-badge-container">
          <i class="fa fa-envelope-o"></i>
          <div class="icon-badge icon-badge-blue">3</div>
        </div>
      <% end %> -->
      <div class="navbar-arthropocene-item">
        <div class="dropdown">
          <%= image_tag "colours.png", class: "avatar dropdown-toggle", id: "navbar-arthropocene-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-arthropocene-dropdown-menu">
            <li>
              <%= link_to user_path(current_user.id) do %>
                <i class="fa fa-user"></i> <%= t ".profile", default: "Profile" %>
              <% end %>
            </li>
            <li>
              <%= link_to user_posts_path(current_user.id) do %>
                <i class="fa fa-sticky-note"></i>  <%= t ".profile", default: "Posts" %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <div class= "links">
        <%= link_to t(".posts", default: "Explore"), public_posts_path, class: "navbar-arthropocene-item navbar-arthropocene-link" %>
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-arthropocene-item navbar-arthropocene-link" %>
      </div>
    <% end %>
   <form method="get" action="/search" id="search">
      <input name="q" type="text" size="40" placeholder="Search..." />
    </form>
  </div>
</nav>
