
<div class="homepage-title col-xs-12">
  <h1>Arthropocene</h1>
  <p>A geologic epoch acknowledging art influence upon the Humans</p>
</div>


<div class="homepage-column col-xs-3">
  <%= render 'shared/post' %>
  <%= render 'shared/post' %>
</div>

<div class="col-xs-6">
  <%= render 'shared/post' %>
  <%= render 'shared/post' %>
</div>

<div class="homepage-column col-xs-3">
  <%= render 'shared/post' %>
  <%= render 'shared/post' %>
</div>













