<div class="post-frame" id="post-<%= post.id %>">

  <div class="post-frame-title">
    <h2><%= post.title %></h2>
  </div>

  <div class="post-frame-banner" style="background-image: url('<%= post.picture.url(:medium)%>')">
    <p><%= post.description %></p>
  </div>

  <div class="post-frame-story">
    <p><%= post.story %></p>
  </div>

  <div class="post-frame-comment">
      <% if post.comments.blank? %>
        <p>Be the first to leave a comment </p>
      <% else %>
        <p><%= pluralize post.comments.size, "comment" %></p>
      <% end %>
      <% post.comments.each do |comment| %>
          <%= render 'comments/show', comment: comment %>
      <% end %>
      <% if user_signed_in? %>
        <%= render 'comments/form', comment: @comment, post: post %>
      <% else %>
        <%= link_to "Login or register to comment!", new_user_session_path %>
      <% end %>
  </div>
  <% if user_signed_in? %>
    <% if post.user_id == current_user.id %>
      <ul class="list-inline controls-list">
        <li>
        <%= link_to edit_user_post_path(current_user.id, post.id), class: "control-icon" do %>
          <i class="fa fa-pencil"></i>
        <% end %>
        </li>
        <li>
        <%= link_to user_post_path(current_user.id, post.id), method: :delete, class: "control-icon" do %>
          <i class="fa fa-trash"></i>
        <% end %>
        </li>
      </ul>
    <% end %>
  <% end %>
</div>

