
<h1><%= @post.title %></h1>
<h2>
  <%= pluralize @post.comment.size, "comment" %>
</h2>

<div id="reviews">
  <% if @post.comment.blank? %>
    Be the first to write a comment for <%= @post.title %>
  <% else %>
    <% @post.comment.each do |comment| %>
      <%= render 'comments/show', comment: comment %>
    <% end %>
  <% end %>
</div>
<%= render 'comments/form', post: @post, comment: @comment %>
